*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #f0f0f0;
  --silver: #e8e8ea;

  --red: #af1f24;
  --blue: #4e79a7;
  --charcoal: #3a3a3a;
}

html {
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  background-color: var(--white);
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a:link,
a:visited {
  color: inherit;
  line-height: inherit;
}

p,
li {
  margin: 1rem 0;
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 3rem 0 1rem;
  font-weight: 700;
}

h2 + div > h3 {
  margin-top: 1rem;
}

h1 {
  font-size: 3rem;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 5.2917rem;
  }
}

h2 {
  font-size: 2.6458rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.3333rem;
}

p {
  font-size: 1rem;
}

footer {
  font-size: 0.8706rem;
}

ul,
ol {
  padding-left: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 5rem;

  justify-content: center;

  padding: 2rem;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: minmax(auto, 992px) minmax(200px, 30%);
  }
}

/* Hero  */
header {
  background-image: radial-gradient(rgba(9, 54, 53, 0.25), rgba(2, 10, 10, 0.5)),
    url("../img/iceberg.jpg");
  background-size: cover;
  color: #fff;
  min-height: 60vh;
  position: relative;
  margin-bottom: 2rem;
}

header::after {
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  border: 1px solid rgba(255, 255, 255, 0.438);
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  transform: translate(-50%, -50%);
}
.hero__text {
  align-self: center;
}
.hero__text a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  line-height: 1;
  font-size: 90%;
}

.hero__text img {
  height: 2rem;
  margin-right: 0.25rem;
}

.hero__text h1 {
  /* font-size: 3.75rem; */
  line-height: 1.2;
  margin: 0.65rem 0;
  letter-spacing: -0.3px;
  text-align: left;
}

.hero__text p {
  margin-top: 0;
  color: var(--silver);
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

/* Content  */
.content {
  overflow: hidden;
}

.content a {
  transition: color 0.2s;
}

.content a:hover {
  color: var(--red);
}

.content section:first-child h2 {
  margin-top: 0;
}

/* Graphs */
.container,
.container-comments {
  padding: 1rem;
  margin: 1rem 0 5rem 0;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 1px 1px 1rem rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.container + .container-comments {
  margin-top: -4rem;
}

/* Comments */
.comments-title {
  font-weight: 700;
  margin-top: 0;
}
.swiper-slide {
  padding: 2rem 3rem 3rem;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--red) !important;
}

/* Table of Contents  */
.sidebar {
  /* padding: 1rem; */
  width: 100%;
  display: none;
}

@media (min-width: 1024px) {
  .sidebar {
    display: block;
  }
}

aside {
  padding: 1rem;
  /* word-break: break-all; */
  height: max-content;
  width: 100%;
  justify-self: center;
  position: sticky;
  top: 2rem;
  background: hsl(0, 0%, 97%);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 1px 1px 1rem rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
aside p:first-child {
  margin-top: 0;
}

.level-1 {
  text-transform: uppercase;
  margin-top: 2em;
  border-bottom: 1px solid;
  transition: color 0.2s;
  position: relative;
}

.level-1:hover {
  color: var(--red);
}

.level-2:link,
.level-2:visited {
  font-size: 90%;
  background: var(--silver);
  color: var(--charcoal);
  border-radius: 4px;
  transform: translateX(2rem);
  width: calc(100% - 3rem);
  margin: 1rem 0;
  padding: 0.25em 0.5em;
  transition: color 0.2s, background 0.2s;
}

.level-2:hover,
.level-2.observed,
.level-2.parent {
  background: var(--charcoal);
  color: var(--silver);
}
.sidebar {
  counter-reset: sidebar;
}
.level-3 {
  display: none;
  padding-left: 2rem;
  font-size: 85%;
  position: relative;
  width: fit-content;
  text-overflow: ellipsis;
  line-height: 1.1;
  position: relative;
}

.level-3.observed::after,
.level-3:hover::after {
  top: 0.25em;
  left: calc(2rem - 0.75em);
  position: absolute;
  content: "";
  height: 0.5em;
  width: 0.5em;
  opacity: 0.75;
  border-radius: 50%;
  background: var(--red);
}

.level-3.show {
  display: block;
}

aside a {
  text-decoration: none;
  display: block;
  margin: 1em;
}

/* Pull Quote  */
.content__sidebar p:first-child {
  margin: 0;
  font-weight: 700;
}
.content__sidebar li + li {
  margin-bottom: 0;
}

.content__sidebar {
  padding: 1rem 1.5rem;
  background-color: hsl(0, 0%, 97%);
  border-radius: 4px;
  max-width: 60ch;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 1px 1px 1rem rgba(0, 0, 0, 0.05);
}

@media (min-width: 1024px) {
  .content__sidebar {
    margin: 2rem 0 2rem 2rem;
    width: 50%;
    float: right;
  }
}

/* Footer  */
footer {
  min-height: 5rem;
  background-color: var(--silver);
  padding: 3rem;
}

footer p {
  max-width: 100%;
  margin: 0;
  text-align: center;
}
