*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #f0f0f0;
  --silver: #e8e8ea;

  --red: #af1f24;
  --blue: #4e79a7;
}

html {
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  background-color: var(--white);
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a:link,
a:visited {
  color: inherit;
  line-height: inherit;
}

p,
li {
  margin: 1rem 0;
  max-width: 66ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 3em 0 1em;
  font-weight: 700;
}

h2 + div > h3 {
  margin-top: 1rem;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7411em;
}
h3 {
  font-size: 1.5157em;
}
h4 {
  font-size: 1.3195em;
}
h5 {
  font-size: 1.1487em;
}
p {
  font-size: 1em;
}
footer {
  font-size: 0.8706em;
}
ul,
ol {
  padding-left: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 5rem;

  justify-content: center;

  padding: 1rem;
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: minmax(auto, 992px) minmax(200px, 30%);
  }
}

header {
  background-image: radial-gradient(rgba(9, 54, 53, 0.25), rgba(2, 10, 10, 0.5)),
    url("../img/iceberg.jpg");
  background-size: cover;
  color: #fff;
  min-height: 60vh;
  padding: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

header::after {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  border: 3px solid rgba(255, 255, 255, 0.438);
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
.hero__text {
  align-self: center;
}
.hero__text a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  line-height: 1;
  font-size: 90%;
}

.hero__text img {
  height: 2rem;
  margin-right: 0.25rem;
}

.hero__text h1 {
  font-size: 3.75rem;
  line-height: 1.2;
  margin: 0.65rem 0;
  letter-spacing: -0.3px;
  text-align: left;
}

.hero__text p {
  margin-top: 0;
  color: var(--silver);
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.content {
  padding: 0 1rem;
  overflow: hidden;
}

.content section:first-child h2 {
  margin-top: 0;
}

.sidebar {
  /* padding: 1rem; */
  width: 100%;
  display: none;
}

@media (min-width: 1200px) {
  .sidebar {
    display: block;
  }
}

aside {
  padding: 1rem;
  /* word-break: break-all; */
  height: max-content;
  width: 100%;
  justify-self: center;
  position: sticky;
  top: 2rem;
  background: hsl(0, 0%, 97%);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 1px 1px 1rem rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
aside p:first-child {
  margin-top: 0;
}

.level-1 {
  text-transform: uppercase;
  margin-top: 2em;
  border-bottom: 1px solid;
}

.level-2 {
  padding-left: 1rem;
  font-size: 90%;
}

.level-3 {
  padding-left: 2rem;
  font-size: 85%;
}

.level-3::after {
  content: "🗠";
  text-transform: uppercase;
  margin-left: 3px;
  border-radius: 4px;
  font-size: 1em;
  padding: 1px 2px;
  vertical-align: middle;
}
.container {
  padding: 1rem;
  margin: 1rem 0 5rem 0;
  background-color: #fff;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 1px 1px 1rem rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.container + .container {
  margin-top: 5rem;
}

footer {
  grid-column: 1 / -1;
  min-height: 5rem;
  background-color: var(--silver);
  padding: 3rem;
}

footer p {
  margin: 0;
  text-align: center;
}

.observed {
  font-weight: 900;
}

.level-1 .observed {
  color: #af1f24;
}

.level-3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

aside a {
  text-decoration: none;
  display: block;
  margin: 1em;
}

.content__sidebar {
  padding: 1rem 1.5rem;
  background-color: hsl(0, 0%, 97%);
  border-radius: 4px;
  max-width: 66ch;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 1px 1px 1rem rgba(0, 0, 0, 0.05);
}

@media (min-width: 1200px) {
  .content__sidebar {
    margin: 2rem 0 2rem 2rem;
    width: 50%;
    float: right;
  }
}

.content__sidebar p {
  margin: 0;
}
.content__sidebar li + li {
  margin-bottom: 0;
}
