html {
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  background-color: #f0f0f0;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
.container {
  padding: 2rem;
  margin: 2rem 0;
  background: #fff;
  min-width: 400px;
  width: 50vw;

  border-radius: 9px;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.15);
}

.container h2 {
  margin-top: 0;
}
